@font-face {
  font-family: "<%= fontName %>";
  src: url('../fonts/<%= fontName %>.eot');
  src: url('../fonts/<%= fontName %>.eot?#iefix') format('eot'),
    url('../fonts/<%= fontName %>.woff2') format('woff2'),
    url('../fonts/<%= fontName %>.woff') format('woff'),
    url('../fonts/<%= fontName %>.ttf') format('truetype'),
    url('../fonts/<%= fontName %>.svg#<%= fontName %>') format('svg');
}

@mixin <%= cssClass%>-styles {
	font-family: "<%= fontName %>";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}
@import '_icons-variables.scss';

.<%= cssClass%> {
	@include <%= cssClass%>-styles;
}



<% _.each(glyphs, function(glyph) { %>.<%= cssClass%>-<%= glyph.fileName %>:before {
	@extend .<%= cssClass%>;
  content: $<%= cssClass%>-<%= glyph.fileName %>;
}
<% }); %>
