{
    "db_name": "db name",
    "db_user": "db user name",
    "envatoAuthorApiKey": "epi key",
    "authorName": " author name",
    "authorEmail": " author email ",
    "paid_plugins": {
        "js_composer": "purchase code",
        "revolution_slider": "purchase code",
        "ultimate_vc": "purchase code"
    },
    "deploy_config": {
        "host": "host name",
        "user": "ftp user name",
        "password": "ftp user password",
        "parallel": 3,
        "secure": true,
        "secureOptions": {
            "rejectUnauthorized": false
        }
    },
    "deploy_path": "/ftpdeploy",
    "local_path": ["wp-content/themes/wpautomate/**/*.*", "wp-content/uploads/**/*.*"],
    "delete_path": "/ftpdeploy",
    "mailgun": {
        "apikey": "api key",
        "domain": "domain name",
        "to": " email send to"
    }
}
